<div class="conatainer">

   <%# Authentication Errors%>
   <% if(locals.messages.auth) {
         messages.auth.forEach( (error) => {
            %><div class="alert alert-danger"><%= error.msg %></div><%
         });
      }
   %>
   <div class="row">
      <form action="/login" method="POST">
         <%# Email %>
         <label for="email" >Email:</label>
         <div class="icon-before email">
            <input type="text" id="email" name="email" placeholder="Email"/>
         </div>
         <%# Email Errors %>
         <% if(locals.messages.email) {
               messages.email.forEach( (email) => {
                  %><div class="alert alert-danger"><%= email.error %></div><%
               });
            }
         %>

         <%# Password %>
         <label for="password">Password:</label>
         <input type="password" id="password" name="password" />
         <%# Password Errors %>
         <% if(locals.messages.password) {
               messages.password.forEach( (password) => {
                  %><div class="alert alert-danger"><%= password.error %></div><%
               });
            }
         %>

         <%# Submit %>
         <input type="submit" class="btn waves-effect waves-light" value="Login" />

      </form>
   </div>

   <div class="row center-align">
      <span>Or Login Using</span>
   </div>

   <div class="row center-align">
      <a href="#" class="btn-floating btn-large icon-before google"></a>
      <a href="#" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
      <a href="#" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
   </div>

   <div class="row center-align">
      <span>Need An Account?</span>
   </div>

   <div class="row center-align">
      <a href="/register">Sign Up</a>
   </div>
</div>
