<%
   if (locals.messages.errors) {
      messages.errors.forEach( (error) => {
         %><div class="alert alert-danger"><%= error.msg %></div><%
      });
   }
%>

<form action="/register" method="POST">
   <label for="userName">User Name: </label>
   <input type="text" name="userName" id="userName" />

   <label for="email">Email: </label>
   <input type="text" name="email" id="email" />

   <label for="password">Password: </label>
   <input type="password" name="password" id="password" />

   <label for="confirmPassword">Confirm Password: </label>
   <input type="password" name="confirmPassword" id="confirmPassword" />

   <input type="submit" value="Register" />
</form>