<div class="container">
   <form action="/list" method="POST">
      <!-- name -->
      <label for="name">Name: </label>
      <input type="text" id="name" name="name">

      <!-- Desc -->
      <label for="desc">Description: </label>
      <input type="text" id="desc" name="desc">

      <!-- Submit -->
      <input type="submit" value="Create">

   </form>
</div>