<div class="container">
   <form action="/list" method="POST">
      <!-- Title -->
      <label for="title"></label>
      <input type="text" id="title" name="title">

      <!-- Desc -->
      <!--  -->
   </form>
</div>